{%load static%}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PHR0WRSEY5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PHR0WRSEY5');
  </script>
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Password Reset | Tale</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{%static 'assets/img/tale/tale-logo.svg'%}">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="{%static 'assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] @@vars.version -->
  <link rel="stylesheet" href="{%static 'assets/css/theme.min.css' %}">
</head>

<body class="d-flex align-items-center min-h-100">
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand navbar-light navbar-absolute-top">
    <div class="container-fluid">
      <nav class="navbar-nav-wrap">
        <!-- White Logo -->
        <a class="navbar-brand d-none d-lg-flex" href="{%url 'website:landing'%}" aria-label="Front">
          <img class="navbar-brand-logo" src="{%static 'assets/img/tale/tale-logo.svg'%}" alt="Logo">
        </a>
        <!-- End White Logo -->

        <!-- Default Logo -->
        <a class="navbar-brand d-flex d-lg-none" href="{%url 'website:landing'%}" aria-label="Front">
          <img class="navbar-brand-logo" src="{%static 'assets/img/tale/tale-logo.svg'%}" alt="Logo">
        </a>
        <!-- End Default Logo -->

        <div class="ms-auto">
          <a class="link link-sm link-secondary" href="{%url 'website:landing'%}">
            <i class="bi-chevron-left small ms-1"></i> Go to main
          </a>
        </div>
      </nav>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main" class="flex-grow-1">
    <!-- Form -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-xl-4 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-dark" style="background-image: url({%static 'assets/svg/components/wave-pattern-light.svg' %});">
          <div class="flex-grow-1 p-5">
            <img class="img-fluid" src="{%static 'assets/img/tale/login.png' %}" alt="Image Description">
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-7 col-xl-8 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
            <!-- Heading -->
            <div class="text-center mb-5 mb-md-7">
              <h1 class="h2">Forgot your password?</h1>
              <p>Please check your inbox.</p>
              
            </div>
            <!-- End Heading -->

            <!-- Form -->
             
            <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
              <p>We've emailed you instructions for resetting your password. If an account exists with the email you entered, you should receive them shortly.</p>
              <p>If you don't receive an email, please make sure you've entered the correct email address you registered with, and check your spam folder.</p>

              <p>If you have remembered your password, you may ignore the email and click the button below to login</p>


              <div class="d-grid mb-3">
                <a href="{%url 'website:login'%}" class="btn btn-primary btn-lg">Log in</a>
              </div>

            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Form -->
  </main>
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="{%static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  <script src="{%static 'assets/vendor/hs-toggle-password/dist/js/hs-toggle-password.js' %}"></script>

  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  <script src="{%static 'assets/js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF TOGGLE PASSWORD
      // =======================================================
      new HSTogglePassword('.js-toggle-password')
    })()
  </script>
</body>
</html>
