{%load static%}
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PHR0WRSEY5"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PHR0WRSEY5');
  </script>
  
  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Title -->
  <title>Sign Up | Tale</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="{%static 'assets/img/tale/tale-logo.svg'%}">

  <!-- Font -->
  <link href="@@vars.googleFont" rel="stylesheet">

  <!-- CSS Implementing Plugins -->
  <!-- bundlecss:vendor [@@autopath] -->
  <link rel="stylesheet" href="{%static 'assets/vendor/bootstrap-icons/font/bootstrap-icons.css' %}">

  <!-- CSS Front Template -->
  <!-- bundlecss:theme [@@autopath] @@vars.version -->
  <link rel="stylesheet" href="{%static 'assets/css/theme.min.css' %}">
</head>

<body class="d-flex align-items-center min-h-100">
  <!-- ========== HEADER ========== -->
  <header id="header" class="navbar navbar-expand navbar-light navbar-absolute-top">
    <div class="container-fluid">
      <nav class="navbar-nav-wrap">
        <!-- White Logo -->
        <a class="navbar-brand d-none d-lg-flex" href="{%url 'website:landing'%}" aria-label="Front">
          <img class="navbar-brand-logo" src="{%static 'assets/img/tale/tale-logo.svg'%}" alt="Logo">
        </a>
        <!-- End White Logo -->

        <!-- Default Logo -->
        <a class="navbar-brand d-flex d-lg-none" href="{%url 'website:landing'%}" aria-label="Front">
          <img class="navbar-brand-logo" src="{%static 'assets/img/tale/tale-logo.svg'%}" alt="Logo">
        </a>
        <!-- End Default Logo -->

        <div class="ms-auto">
          <a class="link link-sm link-secondary" href="{%url 'website:landing'%}">
            <i class="bi-chevron-left small ms-1"></i> Go to main
          </a>
        </div>
      </nav>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN CONTENT ========== -->
  {%if is_anonymous%}
  <main id="content" role="main" class="flex-grow-1">
    <!-- Form -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-xl-4 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-dark" style="background-image: url({%static 'assets/svg/components/wave-pattern-light.svg' %});">
          <div class="flex-grow-1 p-5">
            <img class="img-fluid" src="{%static 'assets/img/tale/login.png' %}" alt="Image Description">
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-7 col-xl-8 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="flex-grow-1 mx-auto" style="max-width: 28rem;">
            <!-- Heading -->
            <div class="text-center mb-5 mb-md-7">
              <h1 class="h2">Welcome to Tale</h1>
              <p>Fill out the form to get started.</p>
              {%if form.errors%}
                {% for field in form %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p style="color: red !important">{{error|escape}}</p>
                    {%endfor%}
                  {%endif%}
                {%endfor%}
                {% if form.non_field_errors %}
                  {%for error in form.non_field_errors%}
                    <p style="color: red !important">{{error}}</p>
                  {%endfor%}
                {% endif %}
              {%endif%}
            </div>
            <!-- End Heading -->

            <!-- Form -->
            {% if next %}
                <form action="{{request.path}}?next={{next}}" method="POST" enctype="multipart/form-data">
            {%else%}
              <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
            {% endif %}
            {%csrf_token%}
              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="id_usernam">Username</label>
                <label class="form-label float-end" id="val-user"></label>
                <input type="text" class="form-control form-control-lg" name="username" id="id_username" placeholder="@" aria-label="email@site.com" required>
                <span class="invalid-feedback">Please enter a unique username.</span>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                <label class="form-label" for="id_email">Your email</label>
                <input type="email" class="form-control form-control-lg" name="email" id="id_email" placeholder="email@site.com" aria-label="email@site.com" required>
                <span class="invalid-feedback">Please enter a valid email address.</span>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label" for="signupModalFormLoginPassword">Password</label>
                </div>

                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                  <input type="password" class="js-toggle-password form-control form-control-lg" name="password1" id="signupModalFormLoginPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8"
                        data-hs-toggle-password-options='{
                         "target": "#changePassTarget",
                         "defaultClass": "bi-eye-slash",
                         "showClass": "bi-eye",
                         "classChangeTarget": "#changePassIcon"
                       }'>
                  <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                    <i id="changePassIcon" class="bi-eye"></i>
                  </a>
                </div>

                <span class="invalid-feedback">Please enter a valid password.</span>
              </div>
              <!-- End Form -->

              <!-- Form -->
              <div class="mb-4">
                <div class="d-flex justify-content-between align-items-center">
                  <label class="form-label" for="signupModalFormLoginPassword">Reytype Password</label>
                </div>

                <div class="input-group input-group-merge" data-hs-validation-validate-class>
                  <input type="password" class="js-toggle-password form-control form-control-lg" name="password2" id="signupModalFormLoginPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8"
                        data-hs-toggle-password-options='{
                         "target": "#changePassTarget",
                         "defaultClass": "bi-eye-slash",
                         "showClass": "bi-eye",
                         "classChangeTarget": "#changePassIcon"
                       }'>
                  <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                    <i id="changePassIcon" class="bi-eye"></i>
                  </a>
                </div>

                <span class="invalid-feedback">Please enter a valid password.</span>
              </div>
              <!-- End Form -->

              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
              </div>

              <div class="text-center">
                <p>Already registered? <a class="link" href="{%url 'website:anonymous-login'%}?next=checkout">Login</a></p>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Form -->
  </main>
  {%else%}
  <main id="content" role="main" class="flex-grow-1">
    <!-- Form -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-5 col-xl-4 d-none d-lg-flex justify-content-center align-items-center min-vh-lg-100 position-relative bg-dark" style="background-image: url({%static 'assets/svg/components/wave-pattern-light.svg' %});">
          <div class="flex-grow-1 p-5">
            <img class="img-fluid" src="{%static 'assets/img/tale/login.png' %}" alt="Image Description">
          </div>
        </div>
        <!-- End Col -->

        <div class="col-lg-7 col-xl-8 d-flex justify-content-center align-items-center min-vh-lg-100">
          <div class="flex-grow-1 mx-auto" style="max-width: 34rem;">
            <!-- Heading -->
            <div class="text-center mb-5 mb-md-7">
              <h1 class="h2">Welcome to Tale</h1>
              <p>Fill out the form to get started.</p>
              {%if form.errors%}
                {% for field in form %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <p style="color: red !important">{{error|escape}}</p>
                    {%endfor%}
                  {%endif%}
                {%endfor%}
                {% if form.non_field_errors %}
                  {%for error in form.non_field_errors%}
                    <p style="color: red !important">{{error}}</p>
                  {%endfor%}
                {% endif %}
              {%endif%}
            </div>
            <!-- End Heading -->

            <!-- Form -->
            {% if next %}
                <form action="{{request.path}}?next={{next}}" method="POST" enctype="multipart/form-data">
            {%else%}
              <form action="{{request.path}}" method="POST" enctype="multipart/form-data">
            {% endif %}
            {%csrf_token%}
              <div class="row">
                <div class="col-lg-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="id_first_name">First name</label>
                    <input type="text" class="form-control form-control-lg" name="first_name" id="id_first_name" placeholder="Tony" aria-label="Tony" required>
                    <span class="invalid-feedback">Please enter a valid first name.</span>
                  </div>
                  <!-- End Form -->
                </div>
                <div class="col-lg-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="id_last_name">Last name</label>
                    <input type="text" class="form-control form-control-lg" name="last_name" id="id_last_name" placeholder="Stark" aria-label="Stark" required>
                    <span class="invalid-feedback">Please enter a valid last name.</span>
                  </div>
                  <!-- End Form -->
                </div>
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="id_username">Username</label>
                    <label class="form-label float-end" id="val-user"></label>
                    <input type="text" class="form-control form-control-lg" name="username" id="id_username" placeholder="@" aria-label="@" required>
                    <span class="invalid-feedback">Please enter a unique username.</span>
                  </div>
                  <!-- End Form -->
                </div>

                <div class="col-lg-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <label class="form-label" for="id_email">Your email</label>
                    <input type="email" class="form-control form-control-lg" name="email" id="id_email" placeholder="email@site.com" aria-label="email@site.com" required>
                    <span class="invalid-feedback">Please enter a valid email address.</span>
                  </div>
                  <!-- End Form -->
                </div>
                
              </div>

              <div class="row">
                <div class="col-lg-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <label class="form-label" for="signupModalFormLoginPassword">Password</label>
                    </div>

                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                      <input type="password" class="js-toggle-password form-control form-control-lg" name="password1" id="signupModalFormLoginPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8"
                            data-hs-toggle-password-options='{
                             "target": "#changePassTarget",
                             "defaultClass": "bi-eye-slash",
                             "showClass": "bi-eye",
                             "classChangeTarget": "#changePassIcon"
                           }'>
                      <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                        <i id="changePassIcon" class="bi-eye"></i>
                      </a>
                    </div>

                    <span class="invalid-feedback">Please enter a valid password.</span>
                  </div>
                  <!-- End Form -->
                </div>
                <div class="col-lg-6">
                  <!-- Form -->
                  <div class="mb-4">
                    <div class="d-flex justify-content-between align-items-center">
                      <label class="form-label" for="signupModalFormLoginPassword">Reytype Password</label>
                    </div>

                    <div class="input-group input-group-merge" data-hs-validation-validate-class>
                      <input type="password" class="js-toggle-password form-control form-control-lg" name="password2" id="signupModalFormLoginPassword" placeholder="8+ characters required" aria-label="8+ characters required" required minlength="8"
                            data-hs-toggle-password-options='{
                             "target": "#changePassTarget",
                             "defaultClass": "bi-eye-slash",
                             "showClass": "bi-eye",
                             "classChangeTarget": "#changePassIcon"
                           }'>
                      <a id="changePassTarget" class="input-group-append input-group-text" href="javascript:;">
                        <i id="changePassIcon" class="bi-eye"></i>
                      </a>
                    </div>

                    <span class="invalid-feedback">Please enter a valid password.</span>
                  </div>
                  <!-- End Form -->
                </div>
              </div>
              <div class="d-grid mb-3">
                <button type="submit" class="btn btn-primary btn-lg">Sign Up</button>
              </div>

              <div class="text-center">
                <p>Already registered? <a class="link" href="{%url 'website:login'%}">Login</a></p>
              </div>
            </form>
            <!-- End Form -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Form -->
  </main>
  {%endif%}
  <!-- ========== END MAIN CONTENT ========== -->

  <!-- JS Global Compulsory @@deleteLine:build -->
  <script src="{%static 'assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <!-- bundlejs:vendor [@@autopath] -->
  <script src="{%static 'assets/vendor/hs-toggle-password/dist/js/hs-toggle-password.js' %}"></script>

  <!-- JS Front -->
  <!-- bundlejs:theme [@@autopath] -->
  <script src="{%static 'assets/js/theme.min.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    (function() {
      // INITIALIZATION OF BOOTSTRAP VALIDATION
      // =======================================================
      HSBsValidation.init('.js-validate', {
        onSubmit: data => {
          data.event.preventDefault()
          alert('Submited')
        }
      })


      // INITIALIZATION OF TOGGLE PASSWORD
      // =======================================================
      new HSTogglePassword('.js-toggle-password')
    })()
  </script>

  <script src="{%static 'assets/js/jquery.min.js'%}"></script>
  <script type="text/javascript">
    $("#id_username").keyup(function () {
      var username = $(this).val();

      $.ajax({
        url: '/ajax/validate-username/',
        data: {
          'username': username
        },
        dataType: 'json',
        success: function (data) {
          if (data.is_taken) {
            document.getElementById('val-user').innerHTML = '<i class="bi-x-lg"></i>';
            document.getElementById('val-user').style.color = "red";
          }
          else{
            document.getElementById('val-user').innerHTML = '<i class="bi-check-lg"></i>';
            document.getElementById('val-user').style.color = "green";
          }
        }
      });

    });

  </script>
</body>
</html>